<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h3>TASK LIST MEETS REDUX!!!</h3>

            <div *ngIf="((tasksStatus$ | async) === effectStatus.Complete)"> 
                <table  class="table table-striped">
                        <thead>
                                <tr>
                                <th scope="col">#</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                </tr>
                        </thead>
                        <tr  scope="row" *ngFor="let task of tasks$ | async; let i = index">
                                <th scope="row">{{i+1}} </th>
                                <td>{{ task.title }}</td>
                                <td>{{ task.description }}</td>
                        </tr>
                    </table>
            <!-- </div> -->
            </div>
            
           <div *ngIf="((tasksStatus$ | async) === effectStatus.IsLoading)"> 
                 SIMULATING SLOW RESPONSE FROM SERVER LOADING USER TASKS... 
            </div>

            <div *ngIf="((tasksStatus$ | async) === effectStatus.HasFailed)"> 
                   FAILED TO LOAD TASKS 
            </div>

        </div>
    </div>
</div>



